.features{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}
.features__range-num,.features__range-char,.features__range:hover{
    cursor: pointer;
}

.features__range-num{
    margin-left: 1.5rem;
} 
.features__range-char{
    margin-left: 1.5rem;
}
.features label{
    font-size: large;
    font-weight: 500;
}